{% extends 'RafaCatalogoBundle::layout.html.twig' %}

{% block body %}

    <h1>Cadastrar usuário</h1>
    <h3 class="subheader">Aqui você cadastra um usuário para acessar o catálogo.</h3>
    <hr />

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div data-alert class="alert-box radius secondary">
            {{ flashMessage }}
            <a href="#" class="close">&times;</a>
        </div>
    {% endfor %}

    <form action="{{ path('cadastrar') }}" method="POST">
        {{ form_errors(form) }}

        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first, {'label' : 'Senha:'}) }}
        {{ form_row(form.plainPassword.second, {'label' : 'Confirmação de senha:'}) }}

        {{ form_rest(form) }}
        <button type="submit">Enviar</button>

    </form>

{% endblock %}