{% extends 'RafaCatalogoBundle::layout.html.twig' %}

{% block body%}
    <h1>Área de login</h1>
    <h3 class="subheader">Aqui você faz o login para ter acesso aos itens do catálogo.</h3>
    <hr />

    {% if error %}
        <div data-alert class="alert-box radius secondary">
            {{ error.message }}
            <a href="#" class="close">&times;</a>
        </div>
    {% endif %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div data-alert class="alert-box radius secondary">
            {{ flashMessage }}
            <a href="#" class="close">&times;</a>
        </div>
    {% endfor %}

    <div class="row">
        <div class="small-12 large-6 medium-6 columns">
            <form action="{{ path('login_check') }}" method="post">
                <label for="username">Nome de usuário:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />

                <label for="password">Senha:</label>
                <input type="password" id="password" name="_password" />

                <button type="submit">Fazer Login</button>
            </form>
        </div>
        <div class="small-12 large-6 medium-6 columns">
            <h4 class="subheader">Para logar você pode usar uma das combinações abaixo:</h4>
            <ul>
                <li><strong>Combinação 1:</strong> Nome de usuário: <strong>user</strong>, Senha: <strong>user</strong></li>
                <li><strong>Combinação 2:</strong> Nome de usuário: <strong>admin</strong>, Senha: <strong>admin</strong></li>
                <li>Ou então <a href="{{ path('cadastrar') }}">cadastre um usuário</a>, para ter acesso ao sistema.</li>
            </ul>
            <hr />
        </div>
    </div>

{% endblock %}
