{% extends 'RafaCatalogoBundle::layout.html.twig' %}

{% block body -%}
    <h1>Catálogo</h1>
    <h3 class="subheader">Aqui você cria edita o item do catálogo.</h3>
    <hr />

    {% for flashMessage in app.session.flashbag.get('notice') %}
    <div data-alert class="alert-box radius secondary">
        {{ flashMessage }}
        <a href="#" class="close">&times;</a>
    </div>
    {% endfor %}

    {{ form_start(edit_form) }}
        {{ form_row(edit_form.name) }}
        {{ form_row(edit_form.descricao) }}
        {{ form_row(edit_form.lancamento) }}
        {{ form_row(edit_form.imageName) }}
        {{ form_widget(edit_form._token) }}
        <hr>
        <a class="button small" href="{{ path('catalogo') }}">Voltar para a lista</a>
        &nbsp;&nbsp; <button type="submit" class="button success small">Editar</button>
    </form>
    {{ form_start(delete_form) }}
        <button type="submit" class="button alert small">
            Deletar este item
        </button>
        {{ form_widget(delete_form._token) }}
    </form>

{% endblock %}
