{% extends 'RafaCatalogoBundle::layout.html.twig' %}
{% block body -%}
    <h1>Catálogo</h1>
    <h3 class="subheader">Aqui você visualiza a listagem do nosso catálogo.</h3>
    <hr />

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div data-alert class="alert-box radius secondary">
            {{ flashMessage }}
            <a href="#" class="close">&times;</a>
        </div>
    {% endfor %}

        <table role="grid" class="small-12 medium-12 large-12">
            <thead>
                <tr>
                    <th scope="column">Id</th>
                    <th scope="column">Nome</th>
                    <th scope="column">Descrição</th>
                    <th scope="column">Lançamento</th>
                    <th scope="column">Nome da imagem</th>
                    <th scope="column">Ações</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('catalogo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.descricao }}</td>
                    <td>{% if entity.lancamento %}{{ entity.lancamento|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.imageName }}</td>
                    <td>
                        <a href="{{ path('catalogo_show', { 'id': entity.id }) }}" class="button success small">Ver</a>
                        <a href="{{ path('catalogo_edit', { 'id': entity.id }) }}" class="button small">Editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('catalogo_new') }}" class="button small">Adicionar um novo registro</a>


    {% endblock %}
