{% extends 'RafaCatalogoBundle::layout.html.twig' %}

{% block body -%}
    <h1>Catálogo</h1>
    <h3 class="subheader">Aqui você cria um novo item para o catálogo.</h3>
    <hr />

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div data-alert class="alert-box radius secondary">
            {{ flashMessage }}
            <a href="#" class="close">&times;</a>
        </div>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.descricao) }}
        {{ form_row(form.lancamento) }}
        {{ form_row(form.imageName) }}
        {{ form_widget(form._token) }}
        <hr>
        <a class="button small" href="{{ path('catalogo') }}">Voltar para a lista</a>
        &nbsp;&nbsp; <button type="submit" class="button success small">Cadastrar</button>
    </form>
{% endblock %}
