{% extends 'RafaCatalogoBundle::layout.html.twig' %}

{% block body -%}
    <h1>Catálogo</h1>
    <h3 class="subheader">Aqui você visualiza o item do catálogo.</h3>
    <hr />

    {% for flashMessage in app.session.flashbag.get('notice') %}
    <div data-alert class="alert-box radius secondary">
        {{ flashMessage }}
        <a href="#" class="close">&times;</a>
    </div>
    {% endfor %}

    <table role="grid" class="small-12 medium-12 large-12">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Descrição</th>
                <td>{{ entity.descricao }}</td>
            </tr>
            <tr>
                <th>Lançamento</th>
                <td>{{ entity.lancamento|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Nome da Imagem</th>
                <td>{{ entity.imageName }}</td>
            </tr>
        </tbody>
    </table>
    <a class="button small" href="{{ path('catalogo') }}">Voltar para a lista</a>
    <a class="button success small" href="{{ path('catalogo_edit', { 'id': entity.id }) }}">Editar</a>

    {{ form_start(delete_form) }}
        <button type="submit" class="button alert small">
            Deletar este item
        </button>
    {{ form_widget(delete_form._token) }}
    </form>
{% endblock %}
