<!doctype html>
<html class="no-js" lang="pt_BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Estudo Symfony 2{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('/bundles/rafacatalogo/css/foundation.min.css') }}" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>
<nav class="top-bar foundation-bar" data-topbar>
    <ul class="title-area">
        <li class="name">
            <span data-tooltip class="has-tip" title="Neste pequeno estudo foi criado um crud com o Symfony2"><h1><a href="#">Estudo Symfony 2</a></h1></span>
        </li>
    </ul>
    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li><a href="{{ path('catalogo') }}">Catálogo</a></li>
            <li><a href="{{ path('cadastrar') }}">Cadastrar usuário</a></li>
            <li><a href="{{ path('logout') }}">Sair do sistema</a></li>
            <li><a class="active" href="https://bitbucket.org/rafapaulino/symfony2" target="_blank">Baixar o projeto no repositório</a></li>
        </ul>
    </section>
</nav>
<div class="row">
    <div class="small-12 medium-12 large-12 columns">
        <br>
        {% block body %}{% endblock %}
    </div>
</div>
<script src="{{ asset('/bundles/rafacatalogo/js/vendor/jquery.js') }}"></script>
<script src="{{ asset('/bundles/rafacatalogo/js/foundation.min.js') }}"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>